<div class="footer" [ngStyle]="backgroundStyle">
  <span>&copy; Copyright 2017-{{ year }}</span>
  <span>
    <a routerLink="/about-us">About Us</a>
  </span>
  <span>
    <a routerLink="/contact-us">Contact Us</a>
  </span>
  <span>
    <a routerLink="/privacy-policy">Privacy Policy</a>
  </span>
  <span>
    <a routerLink="/terms-conditions">Terms and Conditions</a>
  </span>
  <div class="social-media">
    <span>
      <a routerLink=".">Facebook</a>
    </span>
    <span>
      <a routerLink=".">Twitter</a>
    </span>
    <span>
      <a routerLink=".">Instagram</a>
    </span>
  </div>
</div>