@import "../../../../styles.scss";

.footer {
  display: flex;
  padding: 1rem;
  margin-top: 2rem;
  justify-content: space-around;
  font-size: 125%;
  color: rgba($color: #ffffff, $alpha: 0.87);
  @media (max-width: $max-width) {
    flex-direction: column;
    align-items: center;
  }
  @media (min-width: $max-width) {
    min-height: 4rem;
  }
  .social-media {
    display: flex;
    justify-content: space-around;
    width: 20%;
    @media (max-width: $max-width) {
      width: 100%;
    }

  }
}
a {
  text-decoration: none;
  color: rgba($color: #ffffff, $alpha: 0.87);
}