.pickup-info {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  .info-navbar {
    position: fixed;
    width: 100%;
    z-index: 99;
    box-shadow: 0 0.3rem 0.5rem -0.2rem rgba(#000000, 0.2),
      0 0.6rem 1rem 0 rgba(#000000, 0.14);
  }
  .info-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-top: 3.5rem;
  }
}
