<div class="pickup-info">
  <div class="info-navbar">
    <app-info-navbar [isAuthenticated]="isAuthenticated$ | async" (login)="doLogin($event)" (logout)="doLogout($event)"></app-info-navbar>
  </div>
  <div class="info-container">
    <router-outlet></router-outlet>
  </div>
  <div class="info-footer">
    <app-footer></app-footer>
  </div>
</div>