@import "../../styles.scss";

.pickup-app-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  .pickup-app-toolbar {
    position: fixed;
    z-index: 2;
    .pickup-app-name {
      margin-left: 0.5rem;
      font-size: inherit;
      margin-bottom: 0;
    }
    .pickup-app-links {
      display: flex;
      flex: 1;
      justify-content: flex-end;
    }
    .pickup-app-links > ul > li {
      display: inline-flex;
    }
     
  }
  .pickup-app-sidenav-container {
    flex: 1;
    margin-top: 3.5rem;
    .app-container {
      display: flex;
      flex-direction: column;
      .app-content {
        flex: 1;
        padding: 1rem;
        @media (max-width: $max-width) {
          padding: 0.5rem;
        }
      }
    }
  }
  .pickup-app-user {
    margin-left: 2rem;
  }

  .pickup-app-is-mobile .pickup-app-sidenav-container {
    flex: 1 0 auto;
  }

  mat-sidenav {
    width: 13rem;
  }
}
