<div class="pickup-app-container" [class.pickup-app-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="pickup-app-toolbar">
    <button mat-icon-button (click)="appsnav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="pickup-app-name">Pickup App</h1>
    <span class="pickup-app-links">
      <ul>
        <li>
          <button routerLink="/" mat-icon-button>Home</button>
        </li>
        <li class="pickup-app-user">
          <button mat-icon-button [matMenuTriggerFor]="userMenu">
            <mat-icon>account_circle</mat-icon>
          </button>
          <mat-menu [overlapTrigger]="false" #userMenu="matMenu">
            <button mat-menu-item (click)="signOff()">
              <span>Sign Off</span>
            </button>
            <mat-divider></mat-divider>
            <button routerLink="." mat-menu-item>
              <span>Dashboard</span>
            </button>
            <button (click)="goToPickup()" mat-menu-item>
              <span>Pickups</span>
            </button>
          </mat-menu>

        </li>
      </ul>
    </span>
  </mat-toolbar>

  <mat-sidenav-container class="pickup-app-sidenav-container">
    <mat-sidenav #appsnav [mode]="mobileQuery.matches ? 'over' : 'side'" [opened]="!mobileQuery.matches" [fixedInViewport]="true"
      fixedTopGap="56">
      <mat-nav-list>
        <ng-container *appHasAuthority="['Admin']">
          <a mat-list-item [matMenuTriggerFor]="admin" routerLinkActive="active">Administration</a>
          <mat-menu overlapTrigger="false" xPosition="before" #admin="matMenu">
            <a routerLink="/app/admin-pickup-validation" mat-menu-item>Pickup Validation</a>
          </mat-menu>
          <mat-divider></mat-divider>
        </ng-container>
        <a mat-list-item routerLink="." routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Dashboard</a>
        <mat-divider></mat-divider>
        <ng-container *appHasAuthority="['Merchant', 'UserRelay', 'Agent']">
          <a mat-list-item routerLinkActive="active" (click)="goToPickup()">Pickups</a>
          <mat-divider></mat-divider>
        </ng-container>
        <a mat-list-item routerLink="/app/messages">Messages</a>
        <mat-divider></mat-divider>
        <ng-container *appHasAuthority="['Merchant']">
          <a mat-list-item routerLink="/app/create-pickups" routerLinkActive="active">Create Pickup</a>
          <mat-divider></mat-divider>
        </ng-container>
        <a mat-list-item routerLink="/app/settings">Settings</a>
        <mat-divider></mat-divider>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="app-container">
      <div class="app-content">
        <router-outlet></router-outlet>
      </div>
      <div class="app-footer">
        <app-footer type="app"></app-footer>
      </div>
    </mat-sidenav-content>

  </mat-sidenav-container>

</div>