@import "../../../../styles.scss";

.create-pickup {
  width: 70%;
  @media (max-width: $max-width) {
    width: 100%;
  }
  .create-pickup-header {
    text-align: center;
  }
  .pickup-creation-card {
    @media (max-width: $max-width) {
      padding: 0;
    }
    .pickup-creation-form {
      .pack-entry {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $pickup-bg-color;
        padding: 0 0.3rem;
        .pack-quantity {
          @media (min-width: $max-width) {
            flex: 1;
            padding: 0 2rem;
          }
        }
      }
      .misc {
        display: flex;
        justify-content: space-between;
        padding: 1rem 0;
      }
      .end-user {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 1rem 0.5rem;
        @media (max-width: $max-width) {
          flex-direction: column;
        }
        .end-user-entry {
          width: 44%;
          @media (max-width: $max-width) {
            width: 100%;
          }
        }
      }
      .update-btn, .relay {
        width: 100%;
        margin-top: 1rem;
      }
    }

    .show-price {
      display: flex;
      flex-direction: column;
      .create-btn, .price-info {
        margin-top: 1rem;
      }
      .price-info {
        padding: 0 0.5rem;
        .price {
          font-size: large;
          font-weight: bold;
          float: right;
        }
      }
    }
  }
}