<div class="create-pickup">
  <div class="create-pickup-header">
    <h3>Please fill the following form to proceed pickup creation</h3>
  </div>
  <mat-card class="pickup-creation-card">
    <app-alert-list [messages]="messages"></app-alert-list>
    <mat-card-content>
      <form [formGroup]="pickupCreationForm" (submit)="onSubmit()" class="pickup-creation-form" novalidate>
        <div class="misc">
          <mat-slide-toggle formControlName="isFree">Duty Free</mat-slide-toggle>
          <mat-slide-toggle formControlName="useRelay" labelPosition="before" (change)="packChanged($event)">Use Relay</mat-slide-toggle>
        </div>
        <ng-container *ngFor="let package of packages" formGroupName="packages">
          <div class="pack-entry" [formGroupName]="package.name">
            <app-pickup-size content="{{package.name}}" class="pack-size"></app-pickup-size>
            <mat-form-field class="pack-quantity">
              <input (input)="packChanged($event)" matInput placeholder="Quantity" formControlName="quantity">
            </mat-form-field>
            <div class="fragile">
              <mat-slide-toggle formControlName="fragile" labelPosition="before" (change)="packChanged($event)">Fragile</mat-slide-toggle>
            </div>
          </div>
        </ng-container>

        <div class="end-user" formGroupName="endUser">
          <mat-form-field class="end-user-entry">
            <input matInput placeholder="Firstname" formControlName="firstname">
          </mat-form-field>
          <mat-form-field class="end-user-entry">
            <input matInput placeholder="Lastname" formControlName="lastname">
          </mat-form-field>
          <mat-form-field class="end-user-entry">
            <input matInput placeholder="Phone" formControlName="phone">
          </mat-form-field>
          <mat-form-field class="end-user-entry">
            <input matInput placeholder="Address" formControlName="address">
          </mat-form-field>
          <mat-form-field class="end-user-entry">
            <input matInput placeholder="City" formControlName="city">
          </mat-form-field>
          <mat-form-field class="end-user-entry">
            <input matInput placeholder="Town" formControlName="town">
          </mat-form-field>
        </div>
        <mat-form-field class="relay" *ngIf="pickupCreationForm.value.useRelay">
          <mat-select (selectionChange)="packChanged($event)" placeholder="Pick a Relay" formControlName="toId">
            <mat-option *ngFor="let relay of (relays$ | async)" [value]="relay._id">
              {{ relay.relayId.name }} at {{ relay.lastname }} {{ relay.firstname }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button *ngIf="!pickupCreationForm.value.isFree" mat-raised-button color="primary" type="submit" [disabled]="pickupCreationForm.invalid"
          class="update-btn">Show Price</button>
      </form>
      <div class="show-price">
        <span *ngIf="(charge$ | async) && !pickupCreationForm.value.isFree" class="price-info">The charge for this pickup will be:
          <span class="price">{{ charge$ | async }} GNF</span>
        </span>
        <button *ngIf="pickupCreationForm.value.isFree ? true: (charge$ | async)" mat-raised-button color="accent" (click)="createPickup()"
          class="create-btn" [disabled]="pickupCreationForm.invalid">Create Pickup</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>