<app-alert-list [messages]="messages"></app-alert-list>
<app-pickups-list [pickups]="visualizedPickups$ | async" (validate)="validatePickup($event)" (sendCodeEvent)="sendCode($event)"
  (validateCodeEvent)="validateCode($event)">
</app-pickups-list>