<div class="pickup-user" *ngIf="userInfo">
  <div class="user-entry">
    <span class="title">Name</span>
    <span>{{ userInfo | userNamePipe }}</span>
  </div>
  <div class="user-entry">
    <span class="title">Phone</span>
    <span>{{ userInfo.phone }}</span>
  </div>
  <div class="user-entry" *ngIf="!!userInfo.websiteName">
    <span class="title">Website Name</span>
    <span>
      <a href="{{userInfo.websiteUrl}}" target="_blank">{{ userInfo.websiteName }}</a>
    </span>
  </div>
  <ng-container *ngIf="!userInfo.relayId">
    <div class="user-entry">
      <span class="title">Address</span>
      <span>{{ userInfo.address }}</span>
    </div>
    <div class="user-entry">
      <span class="title">City</span>
      <span>{{ userInfo.city }}</span>
    </div>
    <div class="user-entry">
      <span class="title">Town</span>
      <span>{{ userInfo.town }}</span>
    </div>
  </ng-container>
  <ng-container *ngIf="!!userInfo.relayId">
    <div class="user-entry">
      <span class="title">Relay Name</span>
      <span>{{ userInfo.relayId.name }}</span>
    </div>
    <div class="user-entry">
      <span class="title">Address</span>
      <span>{{ userInfo.relayId.address }}</span>
    </div>
    <div class="user-entry">
      <span class="title">City</span>
      <span>{{ userInfo.relayId.city }}</span>
    </div>
    <div class="user-entry">
      <span class="title">Town</span>
      <span>{{ userInfo.relayId.town }}</span>
    </div>
  </ng-container>
</div>