<div class="single-pickup-view" *ngIf="pickup$ | async">
  <div class="single-pickup-content">
    <mat-accordion class="single-pickup-side">
      <mat-expansion-panel *ngIf="(pickup$ | async).fromId">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Merchant User
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-pickup-user [userInfo]="(pickup$ | async).fromId"></app-pickup-user>
      </mat-expansion-panel>
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" *ngIf="(pickup$ | async).toId">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Relay User
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-pickup-user [userInfo]="(pickup$ | async).toId"></app-pickup-user>
      </mat-expansion-panel>
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" *ngIf="(pickup$ | async).endUserId">
        <mat-expansion-panel-header>
          <mat-panel-title>
            End User
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-pickup-user [userInfo]="(pickup$ | async).endUserId"></app-pickup-user>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-card class="single-pickup-side">
      <mat-card-content>
        <div class="single-pickup-entry">
          <span class="title">Created At</span>
          <span>{{ (pickup$ | async).createdAt | date: 'EEE dd MMM HH:mm' }}</span>
        </div>
        <div class="single-pickup-entry" *ngIf="(pickup$ | async).updatedAt">
          <span class="title">Last Update</span>
          <span>{{ (pickup$ | async).updatedAt | date: 'EEE dd MMM HH:mm' }}</span>
        </div>
        <div class="single-pickup-entry">
          <span class="title">Status</span>
          <span class="pickup-label">{{ (pickup$ | async).state.name }}</span>
        </div>
        <div class="single-pickup-entry">
          <span class="title">Packages</span>
          <span>{{ getNbPacks(pickup$ | async) }}</span>
        </div>
        <div class="single-pickup-entry">
          <span class="title">Charge</span>
          <span *ngIf="!(pickup$ | async).isFree">{{ (pickup$ | async).cost }} GNF</span>
          <span class="pickup-label" *ngIf="(pickup$ | async).isFree">Duty Free</span>
        </div>
        <div class="action-entry">
          <button mat-raised-button (click)="validatePickup()" color="primary" *ngIf="(pickup$ | async).state.name === 'CREATED'">Validate Pickup</button>
          <button mat-raised-button (click)="showHistory()" color="primary">History</button>
        </div>
        <div class="action-entry" *appShowCode="(pickup$ | async).state.name">
          <button mat-raised-button color="accent" (click)="sendCode()">
            <span *ngIf="isShowCode">Close</span>
            <span *ngIf="!isShowCode">Send Code</span>
          </button>
          <div *ngIf="isShowCode" class="code-panel">
            <mat-form-field>
              <input #code matInput placeholder="Enter the code">
            </mat-form-field>
            <button fxHide fxShow.gt-xs="true" mat-raised-button color="primary" (click)="validateCode(code.value)">Validate</button>
            <button fxHide fxShow.xs="true" mat-icon-button (click)="validateCode(code.value)">
              OK
            </button>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<div *ngIf="!(pickup$ | async)">
  <div *ngIf="loading">
    Loading .....
  </div>
  <div *ngIf="!loading">
    Error Message
  </div>
</div>