@import "../../../../styles.scss";

.single-pickup-view {
  .single-pickup-content {
    display: flex;
    @media (max-width: $max-width) {
      flex-direction: column;
    }
    .single-pickup-side {
      flex: 1;
      margin: 0.3rem;
      .single-pickup-entry {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0.3rem;
        .title {
          font-weight: bold;
        }
        > .mat-icon-button, .mat-raised-button {
          line-height: 1.5rem;
          height: 1.5rem;
          width: 100%;
          margin-top: 0.5rem;
        }
      }
      .action-entry {
        display: flex;
        @media (max-width: $max-width) {
          flex-direction: column;
        }
        .code-panel {
          display: flex;
          justify-content: space-between;
          > .mat-input-container {
            flex: 1;
          }
        }
        > .mat-icon-button, .mat-raised-button {
          line-height: 1.5rem;
          height: 1.5rem;
          width: 100%;
          margin-top: 0.5rem;
        }
      }
    }
  }
}