@import "../../../../styles.scss";

.home {
  display: flex;
  flex-direction: column;
  .home-entry {
    display: flex;
  }
  .home-header {
    min-height: 25rem;
    justify-content: center;
    align-items: center;
    color: rgba($color: #ffffff, $alpha: 0.87);
    background: $secondary;
    .title {
      font-size: 3.5rem;
      @media (max-width: $max-width) {
        font-size: 1.5rem;
      }
      text-align: center;
    }
  }
  .home-raised {
    display: flex;
    flex-direction: column;
    margin: -60px 30px 0;
    border-radius: 6px;
    background: white;
    box-shadow: 0 1.6rem 2.4rem 0.2rem rgba(#000000,.14), 0 0.6rem 3rem 0.5rem rgba(#000000,.12), 0 0.8rem 1rem -0.5rem rgba(#000000,.2);
    .services {
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin: 6rem 0;
      width: 100%;
      text-align: center;
      @media (max-width: $max-width) {
        flex-direction: column;
      }
      .service {
        width: 27%;
        @media (max-width: $max-width) {
          width: 85%;
          margin: 1rem 0;
        }
        .mat-card-content {
          font-size: 1.3rem;
        }
      }
    }
    .track-box {
      display: flex;
      width: 100%;
      margin: 6rem 0;
      justify-content: center;
      .tracking-form {
        width: 50%;
        display: flex;
        flex-direction: column;
        @media (max-width: $max-width) {
          width: 90%;
        }
        justify-content: space-around;
        .pickup-id {
          width: 100%;
          margin-bottom: 1rem;
        }
        .tracking-btn {
          color: rgba($color: #ffffff, $alpha: 0.87);
          border-radius: 2rem;
          min-height: 4rem;
          background: radial-gradient(circle farthest-corner at right bottom, #CE93D8 0,#9C27B0 27%,#7B1FA2 74%,#4A148C 100%);
        }
        .mat-raised-button[disabled][disabled]{
          background: rgba($color: #000000, $alpha: 0.12);
        }
      }
    }
  }
}
