<div class="home">
  <div class="home-entry home-header">
    <h1 class="title">Delivery made easily</h1>
  </div>
  <div class="home-entry home-raised">
    <div class="track-box">
      <form [formGroup]="trackingForm" (submit)="onTrack()" class="tracking-form" novalidate>
        <mat-form-field class="pickup-id">
          <input matInput placeholder="Track your pickup, entrer your pickup id" formControlName="pickupId">
        </mat-form-field>
        <button mat-raised-button mat-button type="submit" class="tracking-btn" [disabled]="trackingForm.invalid">Find your pickup</button>
      </form>
    </div>
    <div class="services">
      <mat-card class="service">
        <mat-card-content>
          <h2>Relay Point</h2>
          <p>Do you run a local business? Do you want to help your neighbour and the same time make some extra in your business?
            Join our wide circle of Relay point users!</p>
        </mat-card-content>
      </mat-card>
      <mat-card class="service">
        <mat-card-content>
          <h2>Business</h2>
          <p>Are you merchant with or without website looking for a mean of transport? Are you a Entity manager looking for
            a parcel transportation service? We have the solution for your need!</p>
        </mat-card-content>
      </mat-card>
      <mat-card class="service">
        <mat-card-content>
          <h2>Agent</h2>
          <p>Are you looking for an exciting job? Do you have your driving licence? Do you want to part of something big? We
            may have something for you!</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>