<nav mat-tab-nav-bar>
  <a mat-tab-link *ngFor="let tab of currentPickupTabs" [routerLink]="tab.path" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">
    {{ tab.label }}
  </a>
</nav>

<router-outlet></router-outlet>