@import "../../../../styles.scss";

.pickup-container {
  display: flex;
  flex-direction: column;
  width: 70%;
  background-color: $pickup-bg-color;
  padding-bottom: 0.2rem;
  border-radius: 0.3rem;
  box-shadow: 0 0.1rem 0.2rem 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  &:hover{
   box-shadow: 0 0.2rem 0.4rem 0 rgba(0,0,0,0.2); 
  }
  @media (max-width: $max-width) {
    width: 100%;
  }
  font-size: x-small;
  .label {
      background-color: $primary;
      color: rgba($color: #ffffff, $alpha: 0.87);
      padding: 0.1rem 0.2rem;
      border-radius: 0.2rem;
      font-family: Courier New, Courier, monospace;
      line-height: 1;
      text-align: center;
      white-space: nowrap;
    }
  .pickup-header {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    padding-left: 0.3rem;
    .package {
      display: flex;
      align-items: center;
      span {
        padding-left: 0.3rem;
      }
    }
    .to {
      font-weight: bold;
    }
    
    .more, .validate {
      > .mat-button, .mat-icon-button, .mat-icon-button {
        min-width: 2rem;
        line-height: 1.5rem;
        padding: 0;
      }
    }

  }
  .pickup-content {
    display: flex;
    flex-direction: column;
    padding: 0 0.3rem;
    .title {
      font-weight: bold;
    }
    .users, .actions, .dates, .status {
      padding: 0.3rem 0;
      border-top: 0.05rem solid $primary;
    }
    .dates, .status {
      display: inline-flex;
      justify-content: space-between;
      .date-entry, .status-entry {
        width: 100%;
        margin: 0 0.2rem;
      }
    }
    .users {
      display: flex;
      justify-content: space-between;
      @media (max-width: $max-width) {
        flex-direction: column;
      }
      .user {
        display: flex;
        flex-direction: column;
        width: 100%;
        
        .header {
          display: flex;
          justify-content: center;
          font-weight: bold;
          background-color: $pickup-bg-color;
        }
        .user-line {
          display: flex;
          background-color: $pickup-white;
          justify-content: space-between;
          padding: 0 0.1rem;
          margin: 0 0.1rem;     
        }
      }
    }
    .actions {
      display: inline-flex;
      flex-direction: column;
      .action {
        display: inline-flex;
        padding-top: 0.2rem;
        > .mat-icon-button, .mat-raised-button {
          line-height: 1.5rem;
          height: 1.5rem;
        }
        > .mat-raised-button {
          flex: 1;
        }
        > .mat-accent {
          margin-right: 0.5rem;
        }
      }
    }
  }

  .pull-right {
    float: right;
  }
}