<div class="pickup-container" *ngIf="pickup">
  <div class="pickup-header">
    <ng-container *appHasAuthority="['Merchant']">
      <div class="validate" *ngIf="pickup.state.name === 'CREATED'">
        <button fxHide fxShow.gt-xs="true" (click)="validatePickup()" mat-button>Validate</button>
        <button fxHide fxShow.xs="true" (click)="validatePickup()" mat-icon-button>
          <mat-icon>check</mat-icon>
        </button>
      </div>
    </ng-container>
    <div class="to">
      <span>{{ pickup.endUserId | userNamePipe }} - {{ pickup.endUserId.phone }}</span>
    </div>
    <div class="fragile label" *ngIf="isFragile()">
      <span>Fragile</span>
    </div>
    <div class="package">
      <mat-icon fxHide fxShow.xs="true">business_center</mat-icon>
      <span>{{ getNbPacks() }}</span>
      <span fxHide fxShow.gt-xs="true">package(s)</span>
    </div>
    <ng-container *appHasAuthority="['Merchant']">
      <div class="cost" *ngIf="!pickup.isFree">
        {{ pickup.cost }} GNF
      </div>
      <div class="free label" *ngIf="pickup.isFree">
        <span>Duty Free</span>
      </div>
    </ng-container>
    <div fxShow fxHide.xs="true" class="state label">
      <span>{{ pickup.state.name }}</span>
    </div>
    <div class="more">
      <button fxHide fxShow.xs="true" (click)="expandCollapase()" mat-icon-button>
        <mat-icon *ngIf="!isExpanded">expand_more</mat-icon>
        <mat-icon *ngIf="isExpanded">expand_less</mat-icon>
      </button>
      <button fxHide fxShow.gt-xs="true" (click)="expandCollapase()" mat-button>
        <mat-icon *ngIf="!isExpanded">expand_more</mat-icon>
        <mat-icon *ngIf="isExpanded">expand_less</mat-icon>
      </button>
    </div>
  </div>
  <div class="pickup-content" *ngIf="isExpanded">
    <div class="dates">
      <div class="date-entry">
        <span class="title">Created at</span>
        <span class="pull-right">{{ pickup.createdAt | date: 'EEE dd MMM HH:mm' }}</span>
      </div>
      <div class="date-entry">
        <span class="title">Last update</span>
        <span class="pull-right">{{ pickup.updatedAt | date: 'EEE dd MMM HH:mm' }}</span>
      </div>
    </div>
    <div class="status" fxShow fxHide.gt-xs="true">
      <div class="status-entry">
        <span class="title">Status</span>
        <span class="pull-right label">{{ pickup.state.name }}</span>
      </div>
      <ng-container *appHasAuthority="['Merchant']">
        <div class="status-entry">
          <span class="title">Cost</span>
          <span class="pull-right label" *ngIf="pickup.isFree">Duty Free</span>
          <span class="pull-right label" *ngIf="!pickup.isFree">{{ pickup.cost }}</span>
        </div>
      </ng-container>
    </div>
    <div class="users">
      <ng-container *appHasAuthority="['UserRelay','Agent']">
        <div class="user" *ngIf="pickup.fromId">
          <div class="header">
            <span>Merchant User</span>
          </div>
          <div class="user-line">
            <span class="title">Name</span>
            <span>{{ pickup.fromId | userNamePipe }}</span>
          </div>
          <div class="user-line">
            <span class="title">Phone</span>
            <span>{{ pickup.fromId.phone }}</span>
          </div>
          <div class="user-line">
            <span class="title">Address</span>
            <span>{{ pickup.fromId.address + '-' + pickup.fromId.town + '-' + pickup.fromId.city }}</span>
          </div>
        </div>
      </ng-container>
      <ng-container *appHasAuthority="['UserRelay','Merchant']">
        <div class="user" *ngIf="pickup.assignation && pickup.assignation.to">
          <div class="header">
            <span>Agent</span>
          </div>
          <div class="user-line">
            <span class="title">Name</span>
            <span>{{ pickup.assignation.to | userNamePipe }}</span>
          </div>
          <div class="user-line">
            <span class="title">Phone</span>
            <span>{{ pickup.assignation.to.phone }}</span>
          </div>
        </div>
      </ng-container>
      <ng-container *appHasAuthority="['Merchant', 'Agent']">
        <div class="user" *ngIf="pickup.toId">
          <div class="header">
            <span>Relay User</span>
          </div>
          <div class="user-line">
            <span class="title">Name</span>
            <span>{{ pickup.toId.relayId.name }}</span>
          </div>
          <div class="user-line">
            <span class="title">Phone</span>
            <span>{{ pickup.toId.phone }}</span>
          </div>
          <div class="user-line">
            <span class="title">Address</span>
            <span>{{ pickup.toId.relayId.address + '-' + pickup.toId.relayId.town + '-' + pickup.toId.relayId.city }}</span>
          </div>
        </div>
      </ng-container>
      <ng-container *appHasAuthority="['Merchant', 'Agent', 'UserRelay']">
        <div class="user" *ngIf="pickup.endUserId">
          <div class="header">
            <span>End User</span>
          </div>
          <div class="user-line">
            <span class="title">Name</span>
            <span>{{ pickup.endUserId | userNamePipe }}</span>
          </div>
          <div class="user-line">
            <span class="title">Phone</span>
            <span>{{ pickup.endUserId.phone }}</span>
          </div>
          <div class="user-line">
            <span class="title">Address</span>
            <span>{{ pickup.endUserId.address + '-' + pickup.endUserId.town + '-' + pickup.endUserId.city }}</span>
          </div>
        </div>
      </ng-container>
    </div>

    <div class="actions">
      <div class="action">
        <button mat-raised-button color="primary" (click)="showHistory()">History</button>
        <button mat-icon-button [routerLink]="['/app', 'pickup', pickup._id]">
          <mat-icon>open_in_new</mat-icon>
        </button>
      </div>
      <ng-container *appShowCode="pickup.state.name">
        <div class="action">
          <button mat-raised-button color="accent" (click)="sendCode()">
            <span *ngIf="isShowCode">Close</span>
            <span *ngIf="!isShowCode">Send Code</span>
          </button>
          <div *ngIf="isShowCode">
            <mat-form-field>
              <input #code matInput placeholder="Enter the code">
            </mat-form-field>
            <button mat-icon-button (click)="validateCode(code.value)">OK</button>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>