<div class="pickups-list" *ngIf="pickups">
  <ng-container *ngIf="pickups.length > 0">
    <ng-container *ngFor="let pickup of pickups">
      <app-pickup [pickup]="pickup" (validate)="validatePickup($event)" (sendCodeEvent)="sendCode($event)" (validateCodeEvent)="validateCode($event)"
        class="pickup-entry"></app-pickup>
    </ng-container>
  </ng-container>
</div>