@import "../../../../styles.scss";

.register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  margin: 1rem;
  .register-card {
    width: 30%;
    margin-top: 1rem;
    @media (max-width: $max-nav-width) {
      width: 100%;
    }
    .register-form > {
      .username, .password, .register-btn, .confirm-password, .address, .firstname, .cgu, .mail, .lastname, .phone, .type, .city, .town {
        width: 100%;
      }      
      .register-btn {
        margin-top: 1rem;
        padding: 0;
        color: rgba($color: #ffffff, $alpha: 0.87);
        border-radius: 2rem;
        min-height: 2.5rem;
        background: radial-gradient(circle farthest-corner at right bottom, #CE93D8 0,#9C27B0 27%,#7B1FA2 74%,#4A148C 100%);
      }
      .mat-raised-button[disabled][disabled]{
        background: rgba($color: #000000, $alpha: 0.12);
      }
    }
    .register-footer {
      display: flex;
      margin-top: 1rem;
      .forgot-pwd {
        flex: 1;
      }
    }
  }
}
