<div class="register-container">
  <div class="register-header">
    <h3>Please Do Register!</h3>
  </div>
  <mat-card class="register-card">
    <app-alert-list [messages]="messages"></app-alert-list>
    <mat-card-content>
      <form [formGroup]="registerForm" class="register-form" (ngSubmit)="onSubmit()" novalidate>
        <mat-form-field class="username">
          <input matInput placeholder="Your Username" formControlName="username" (input)="usernameChanged($event)">
          <mat-error *ngIf="registerForm.get('username').hasError('required')">Your username is required</mat-error>
          <mat-error *ngIf="registerForm.get('username').hasError('invalidUsername')">Your username should be an email or a phone number</mat-error>
        </mat-form-field>

        <mat-form-field class="firstname">
          <input matInput placeholder="Your Firstname" formControlName="firstname">
          <mat-error *ngIf="registerForm.get('firstname').invalid">Your firstname is required</mat-error>
        </mat-form-field>

        <mat-form-field class="lastname">
          <input matInput placeholder="Your Lastname" formControlName="lastname">
          <mat-error *ngIf="registerForm.get('lastname').invalid">Your lastname is required</mat-error>
        </mat-form-field>

        <mat-form-field class="mail" *ngIf="showInput(registerForm.get('username').value, 'mail')">
          <input matInput placeholder="Your E-Mail" formControlName="mail">
          <mat-error *ngIf="registerForm.get('mail').hasError('invalidEmail')">Your email should be like mail@test.com</mat-error>
        </mat-form-field>

        <mat-form-field class="phone" *ngIf="showInput(registerForm.get('username').value, 'phone')">
          <input matInput placeholder="Your Phone Number" formControlName="phone">
          <mat-error *ngIf="registerForm.get('phone').hasError('invalidPhone')">Your phone number should have 9 digits</mat-error>
        </mat-form-field>

        <mat-form-field class="type">
          <mat-select placeholder="Account Type" formControlName="type">
            <mat-option *ngFor="let account of accountTypes" [value]="account.type">
              {{ account.value }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="registerForm.get('type').invalid">Your account type is required</mat-error>
        </mat-form-field>

        <mat-form-field class="password">
          <input matInput placeholder="Your Password" formControlName="password" [type]="hide ? 'password' : 'text'">
          <mat-icon matSuffix (click)="hide = !hide">{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
          <mat-error *ngIf="registerForm.get('password').invalid">Your password is required</mat-error>
        </mat-form-field>

        <mat-form-field class="confirm-password">
          <input matInput placeholder="Confirm Your Password" formControlName="confirmPassword" [type]="hideConfirm ? 'password' : 'text'">
          <mat-icon matSuffix (click)="hideConfirm = !hideConfirm">{{ hideConfirm ? 'visibility_off' : 'visibility' }}</mat-icon>
          <mat-error *ngIf="registerForm.get('confirmPassword').hasError('required')">You should confirm your password</mat-error>
          <mat-error *ngIf="registerForm.get('confirmPassword').hasError('noMatch')">Your confirmation password should match your password</mat-error>
        </mat-form-field>
        <mat-form-field class="address">
          <input matInput placeholder="Your Address" formControlName="address">
          <mat-error *ngIf="registerForm.get('address').invalid">Your address is required</mat-error>
        </mat-form-field>
        <mat-form-field class="city">
          <input matInput placeholder="Your city" formControlName="city">
          <mat-error *ngIf="registerForm.get('city').invalid">Your city is required</mat-error>
        </mat-form-field>
        <mat-form-field class="town">
          <input matInput placeholder="Your Town" formControlName="town">
          <mat-error *ngIf="registerForm.get('town').invalid">Your town is required</mat-error>
        </mat-form-field>
        <mat-checkbox class="cgu" formControlName="cgu">
          <a routerLink="/terms-conditions">
            <span>I have read and I accept the general terms and conditions of use</span>
          </a>
        </mat-checkbox>
        <button mat-raised-button color="primary" mat-button type="submit" class="register-btn" [disabled]="registerForm.invalid">Register</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>