<div *ngIf="message" class="message">
  <div class="msg-container">
    <span class="content">{{ message.content }}</span>
    <span class="time">{{ message.createdAt | date: 'EEE dd MMM HH:mm' }}</span>
  </div>
  <div class="sender" *ngIf="message.from">
    <span>{{ message.from.firstname }}</span>
    <span>{{ message.from.lastname }}</span>
  </div>
</div>