@import "../../../../styles.scss";

.message {
  display: flex;
  justify-content: space-between;
  background-color: $secondary-color;
  padding: 0.5rem;
  border-radius: 0.5rem;
  .msg-container {
    display: flex;
    flex-direction: column;
    .content {
      flex: 1;
    }
    .time {
      font-size: 50%;
    }
  }
  .sender {
    display: flex;
    flex-direction: column;
    font-size: 70%;
  }
}
