<div class="admin-pickup-validation">
  <button mat-raised-button color="accent" [disabled]="selectedPickups.length==0" (click)="assignToAgent()">Assign to an Agent</button>
  <app-alert-list [messages]="messages"></app-alert-list>
  <div class="admin-entry" *ngFor="let pickup of toBeValidatedPickups$ | async">
    <app-admin-pickup [pickup]="pickup" class="admin-pickup"></app-admin-pickup>
    <mat-checkbox (change)="pickupSelected(pickup._id, $event)"></mat-checkbox>
  </div>
</div>