@import "../../../../styles.scss";

.admin {
  display: flex;
  flex-direction: column;
  .admin-entry {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0;
    .admin-pickup {
      width: 97%;
    }
  }
}

.admin-pickup {
  display: flex;
  background-color: $pickup-bg-color;
  border-radius: 0.3rem;
  width: 100%;
  @media (max-width: $max-width) {
    font-size: x-small;
  }
  .misc, .main {
    padding: 0.5rem;
  }
  .main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    .main-entry {
      display: flex;
      justify-content: space-between;
      .entry-label {
        font-weight: bold;
        padding-right: 0.8rem;
      }
      > .mat-icon-button, .mat-raised-button {
        line-height: 1.5rem;
        height: 1.5rem;
        width: 100%;
        margin-top: 0.5rem;
      }
    }
  }
  .misc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .created-at {
      display: flex;
      flex-direction: column;
      justify-content: center;
      .date {
        text-align: center;
      }
      .day-month {
        font-size: x-large;
      }
    }
  }
}

.agent-assignation-content {
  display: flex;
  justify-content: center;
  .select {
    flex: 1;
  }
}
.agent-assignation-btn {
  display: flex;
  justify-content: space-between;
}
