.admin-pickup-validation {
  display: flex;
  flex-direction: column;
  .admin-entry {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0;
    .admin-pickup {
      width: 97%;
    }
  }
}