<div class="admin-pickup" *ngIf="pickup">
  <div class="misc">
    <div class="created-at">
      <span class="date">{{ pickup.createdAt | date: 'EEEE' }}</span>
      <span class="date day-month">{{ pickup.createdAt | date: 'dd MMM' }}</span>
      <span class="date">{{ pickup.createdAt | date: 'HH:mm' }}</span>
    </div>
    <div class="fragile pickup-label" *ngIf="isFragile()">
      <span>Fragile</span>
    </div>
  </div>

  <div class="main">
    <div class="main-entry" *ngIf="!!pickup.fromId">
      <span class="entry-label">Merchant</span>
      <span>{{ pickup.fromId | userNamePipe }} - {{ pickup.fromId.phone }} - {{pickup.fromId.address + '-' + pickup.fromId.town
        + '-' + pickup.fromId.city}}</span>
    </div>
    <div class="main-entry" *ngIf="!!pickup.toId">
      <span class="entry-label">Relay</span>
      <span>{{ pickup.toId.relayId.name }} - {{ pickup.toId.phone }} - {{pickup.toId.relayId.address + '-' + pickup.toId.relayId.town
        + '-' + pickup.toId.relayId.city}}</span>
    </div>
    <div class="main-entry" *ngIf="!!pickup.endUserId">
      <span class="entry-label">End User</span>
      <span>{{ pickup.endUserId | userNamePipe }} - {{ pickup.endUserId.phone }} - {{pickup.endUserId.address + '-' + pickup.endUserId.address
        + '-' + pickup.endUserId.address}}</span>
    </div>
    <div class="main-entry">
      <span class="entry-label">Packs</span>
      <span class="package">1</span>
    </div>
    <div class="main-entry">
      <button mat-raised-button color="primary" (click)="openInNewTab(pickup._id)">Open in new window</button>
    </div>
  </div>
</div>