<div mat-dialog-content class="agent-assignation-content">
  <mat-form-field class="select">
    <mat-select placeholder="Pick an agent" #selectedAgent>
      <mat-option *ngFor="let agent of data.agents" [value]="agent._id">
        {{ agent.firstname }} {{ agent.lastname }} {{ agent.phone }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions class="agent-assignation-btn">
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="selectedAgent.value" cdkFocusInitial>Assign</button>
</div>