@import "../../../../styles.scss";

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  margin: 1rem;
  .login-card {
    width: 30%;
    margin-top: 1rem;
    @media (max-width: $max-width) {
      width: 100%;
    }
    .login-form {
      .username, .password, .login-btn, .remember-me {
        width: 100%;
      }
      .login-btn {
        margin-top: 1rem;
        padding: 0;
        color: rgba($color: #ffffff, $alpha: 0.87);
        border-radius: 2rem;
        min-height: 2.5rem;
        background: radial-gradient(circle farthest-corner at right bottom, #CE93D8 0,#9C27B0 27%,#7B1FA2 74%,#4A148C 100%);
      }
      .mat-raised-button[disabled][disabled]{
        background: rgba($color: #000000, $alpha: 0.12);
      }
    }
    .login-footer {
      display: flex;
      margin-top: 1rem;
      .forgot-pwd > a, .register > a {
        text-decoration: unset;
      }
      .forgot-pwd {
        flex: 1;
      }
    }
  }
}
