<div class="login-container">
  <div class="login-header">
    <h3>Please Do Login!</h3>
  </div>

  <mat-card class="login-card">
    <app-alert-list [messages]="messages"></app-alert-list>
    <mat-card-content>
      <form [formGroup]="loginForm" (submit)="onSubmit()" class="login-form" novalidate>
        <mat-form-field class="username">
          <input matInput placeholder="Your username" formControlName="username">
        </mat-form-field>
        <mat-form-field class="password">
          <input matInput placeholder="Your Password" formControlName="password" [type]="hide ? 'password' : 'text'">
          <mat-icon matSuffix (click)="hide = !hide">{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
        </mat-form-field>
        <mat-checkbox class="remember-me" formControlName="rememberMe">Remember Me</mat-checkbox>
        <button mat-raised-button color="primary" mat-button type="submit" class="login-btn" [disabled]="loginForm.invalid">Login</button>
      </form>
      <div class="login-footer">
        <span class="forgot-pwd">
          <a routerLink=".">Forgot your Password?</a>
        </span>
        <span class="register">
          <a routerLink="/register">Register</a>
        </span>
      </div>
    </mat-card-content>
  </mat-card>
</div>