.message {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 0.5rem;
  border-radius: 0.3rem;
  margin: 0.3rem 0;
}

.info {
  background-color: #40C4FF;
  border-left: solid 0.5rem #0091EA;
}
.error {
  background-color: #FF5252;
  border-left: solid 0.5rem #D50000;
}

.success {
  background-color: #69F0AE;
  border-left: solid 0.5rem #00C853;
}