<div class="user-pwd">
  <form [formGroup]="changePwdForm" (submit)="onChangePwd()" class="change-pwd" novalidate>
    <mat-form-field>
      <input matInput placeholder="Your current password" formControlName="currentPwd" [type]="hideCurrent ? 'password' : 'text'">
      <mat-icon matSuffix (click)="hideCurrent = !hideCurrent">{{ hideCurrent ? 'visibility_off' : 'visibility' }}</mat-icon>
      <mat-error *ngIf="changePwdForm.get('currentPwd').hasError('required')">Your current password is required</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Your new password" formControlName="newPwd" [type]="hide ? 'password' : 'text'">
      <mat-icon matSuffix (click)="hide = !hide">{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
      <mat-error *ngIf="changePwdForm.get('newPwd').hasError('required')">Your new password is required</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Confirm your new password" formControlName="confirmNewPwd" [type]="hideConfirm ? 'password' : 'text'">
      <mat-icon matSuffix (click)="hideConfirm = !hideConfirm">{{ hideConfirm ? 'visibility_off' : 'visibility' }}</mat-icon>
      <mat-error *ngIf="changePwdForm.get('confirmNewPwd').hasError('required')">You should confirm your password</mat-error>
      <mat-error *ngIf="changePwdForm.get('confirmNewPwd').hasError('noMatch')">Your confirmation password should match your password</mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" mat-button type="submit" [disabled]="changePwdForm.invalid">Update Password</button>
  </form>
</div>