<div class="merchant-details" *ngIf="details">
  <form [formGroup]="merchantDetailsForm" (submit)="onSubmitDetails()" class="change-details" novalidate>
    <div class="misc">
      <div class="misc-entry">
        <mat-icon matTooltip="Whether or not pickups are automatically validated" matTooltipPosition="right">help_outline</mat-icon>
        <mat-slide-toggle formControlName="autoAccept" (change)="onChanged($event)">Auto Validate pickups</mat-slide-toggle>
      </div>
      <div class="misc-entry">
        <mat-icon matTooltip="Send information to end user after each step of the process" matTooltipPosition="right">help_outline</mat-icon>
        <mat-slide-toggle formControlName="sendNotif" (change)="onChanged($event)">Send Notification</mat-slide-toggle>
      </div>
    </div>
    <div class="misc">
      <mat-form-field class="misc-input">
        <input matInput placeholder="Your Website name" (input)="onChanged($event)" formControlName="websiteName">
      </mat-form-field>

      <mat-form-field class="misc-input">
        <input matInput placeholder="Your website URL" (input)="onChanged($event)" formControlName="websiteUrl">
        <mat-error *ngIf="merchantDetailsForm.get('websiteUrl').hasError('urlRequired')">Your website url is required</mat-error>
        <mat-error *ngIf="merchantDetailsForm.get('websiteUrl').hasError('urlIncorrect')">An url should start with http:// or https://</mat-error>
      </mat-form-field>
    </div>
    <button mat-raised-button color="primary" type="submit" [disabled]="submitDisabled || merchantDetailsForm.invalid">Update Details</button>
  </form>
</div>