<div class="relay-details" *ngIf="details">
  <div *ngIf="details.relayId || creatingRelay">
    <form [formGroup]="relayDetailsForm" (submit)="onSubmitDetails()" class="change-details" novalidate>
      <div class="entry-line">
        <mat-form-field>
          <input matInput placeholder="Relay name" formControlName="name">
        </mat-form-field>
        <mat-slide-toggle formControlName="holiday">Open on holidays</mat-slide-toggle>
      </div>
      <div class="entry-line">
        <mat-form-field>
          <input matInput placeholder="Relay address" formControlName="address">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Relay city" formControlName="city">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Relay town" formControlName="town">
        </mat-form-field>
      </div>
      <button mat-raised-button color="primary" type="submit" [disabled]="relayDetailsForm.invalid">Update Details</button>
    </form>
  </div>
  <div *ngIf="!details.relayId && !creatingRelay">
    <p>You currently don't have a relay associated to your account. Create one.</p>
    <button mat-raised-button color="primary" (click)="creatingRelay = true">Create Relay</button>
  </div>
</div>