@import "../../../../styles.scss";

.settings {
  display: flex;
  .settings-content {
    width: 70%;
    @media (max-width: $max-width) {
      width: 100%;
    }
  }
}

.user-details, .user-pwd, .merchant-details {
  display: flex;
  flex-direction: column;
}

.user-pwd {
  .change-pwd {
    display: flex;
    flex-direction: column;
  }
}

.merchant-details {
  .change-details {
    display: flex;
    flex-direction: column;
    .misc {
      display: flex;
      justify-content: space-between;
      padding: 0.5rem 0;
      @media (max-width: $max-width) {
        flex-direction: column;
      }
      .misc-entry {
        display: flex;
        align-items: center;
        > .mat-icon {
          padding-right: 1rem;
        }
      }
      .misc-input {
        @media (min-width: $max-width) {
          width: 35%;
        }
      }
    }
  }
}

.relay-details {
  .change-details {
    display: flex;
    flex-direction: column;
    .entry-line {
      display: flex;
      justify-content: space-between;
      @media (max-width: $max-width) {
        flex-direction: column;
      }
      > .mat-input-container {
        width: 30%;
        @media (max-width: $max-width) {
          width: 100%;
        }
      }
    }
  }
}