<div class="settings">
  <mat-accordion class="settings-content">
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h4>User Details</h4>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-user-details [userInfo]="userInfo$ | async"></app-user-details>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h4>Change Password</h4>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-change-password (changePwd)="changePwd($event)"></app-change-password>
    </mat-expansion-panel>
    <mat-expansion-panel *appHasAuthority="['Merchant']" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h4>Merchant details</h4>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-merchant-details [details]="userInfo$ | async" (updatedDetails)="updateDetails($event)"></app-merchant-details>
    </mat-expansion-panel>
    <mat-expansion-panel *appHasAuthority="['UserRelay']" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h4>Relay details</h4>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-relay-details [details]="userInfo$ | async" (relayDetails)="updateRelay($event)"></app-relay-details>
    </mat-expansion-panel>
  </mat-accordion>
</div>