<div class="user-details" *ngIf="userInfo">
  <mat-form-field>
    <input matInput [readonly]="true" [value]="userInfo.username" placeholder="Username">
  </mat-form-field>
  <mat-form-field>
    <input matInput [readonly]="true" [value]="userInfo.firstname" placeholder="Firstname">
  </mat-form-field>
  <mat-form-field>
    <input matInput [readonly]="true" [value]="userInfo.lastname" placeholder="Lastname">
  </mat-form-field>
  <mat-form-field>
    <input matInput [readonly]="true" [value]="userInfo.mail" placeholder="Email">
  </mat-form-field>
  <mat-form-field>
    <input matInput [readonly]="true" [value]="userInfo.phone" placeholder="Phone Number">
  </mat-form-field>
  <mat-form-field>
    <input matInput [readonly]="true" [value]="userInfo._type | userTypePipe" placeholder="Account Type">
  </mat-form-field>
</div>