/* You can add global styles to this file, and also import other style files */
// @import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
// @import "~bootstrap/scss/bootstrap.scss";

$pickup-white: rgba($color: white, $alpha: 0.87);
// $primary-color: #3F51B5;
$max-nav-width: 668px;
$max-width: 668px;
$primary-bg-color: #1A237E;
$secondary-bg-color: #283593;
$tertiary-bg-color: #303F9F;
$fourth-bg-color: #3949AB;
$fith-bg-color: #3F51B5;
$sixth-bg-color: #5C6BC0;
$seventh-bg-color: #7986CB;

$pickup-bg-color: #E8EAF6;
$primary: #3F51B5;
$secondary: #9C27B0;
$secondary-color: #E8EAF6;
// $primary: map-get($pickup-app-theme, $pickup-app-primary);
// $primary-bg-color:

html, body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
  height: 100%;
  // color: rgba($color: #ffffff, $alpha: 0.87);
  .active {
    background: rgba($color: #000000, $alpha: 0.04);
  }
  .pickup-label {
      background-color: $primary;
      color: rgba($color: #ffffff, $alpha: 0.87);
      padding: 0.1rem 0.2rem;
      border-radius: 0.2rem;
      font-family: Courier New, Courier, monospace;
      line-height: 1;
      text-align: center;
      white-space: nowrap;
    }
}
