@import "../../../../styles.scss";

.navbar-container {
  display: flex;
  width: 100%;
  .navbar-title {
    flex: 1;
  }
  .navbar-content {
    justify-content: flex-end;
    .navbar-item {
      padding: 0 2rem;
    }
  }
}
.mat-toolbar {
  background-color: $secondary;
  color: rgba($color: #ffffff, $alpha: 0.87);
}
a {
  text-decoration: none;
  color: rgba($color: #ffffff, $alpha: 0.87);
}