<mat-toolbar class="info-navbar">
  <div class="navbar-container">
    <div class="navbar-title">
      <a routerLink="/">
        <span class="title">Pickup</span>
      </a>
    </div>

    <div fxShow fxHide.xs class="navbar-content">
      <span class="navbar-item">
        <a mat-icon-button routerLink="/services">Services</a>
      </span>
      <span class="navbar-item" *appHasAuthority="['Agent', 'Merchant', 'UserRelay', 'Admin']">
        <a mat-icon-button routerLink="/app">Dashboard</a>
      </span>
      <span class="navbar-item login">
        <a mat-icon-button routerLink="/login">
          <mat-icon>account_circle</mat-icon>
        </a>
      </span>
    </div>
    <div fxHide fxShow.lt-sm>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu [overlapTrigger]="false" #menu="matMenu">
        <button routerLink="/services" mat-menu-item>
          <mat-icon>explore</mat-icon>
          <span>Services</span>
        </button>
        <button routerLink="/app" mat-menu-item>
          <mat-icon>dashboard</mat-icon>
          <span>Dashboard</span>
        </button>
        <button *ngIf="!isAuthenticated" (click)="doLogin($event)" mat-menu-item>
          <mat-icon>account_box</mat-icon>
          <span>Log In</span>
        </button>
        <button *ngIf="isAuthenticated" (click)="doLogout($event)" mat-menu-item>
          <mat-icon>power_settings_new</mat-icon>
          <span>Log Out</span>
        </button>
      </mat-menu>
    </div>
  </div>
</mat-toolbar>