<div class="pickup-size">
  <span class="icon">
    <mat-icon matTooltip="{{tooltipMsg}}" matTooltipPosition="right">help_outline</mat-icon>
  </span>
  <span class="picto">{{ tooltipContent }}</span>
</div>