@import "../../../../styles.scss";

.pickup-size {
  display: flex;
  align-items: center;
  .icon {
    transform: scale(0.7, 0.7);
  }
  .picto {
    background-color: $primary;
    color: $pickup-white;
    padding: 0.8rem;
    min-width: 1.5rem;
    text-align: center;
    border-radius: 0.3rem;
  }
}