@import "../../../../styles.scss";

.services {
  display: flex;
  flex-direction: column;
  .services-header {
    min-height: 25rem;
    justify-content: center;
    align-items: center;
    color: rgba($color: #ffffff, $alpha: 0.87);
    background: $secondary;
  }
  .raised {
    display: flex;
    flex-direction: column;
    margin: -60px 30px 0;
    border-radius: 6px;
    background: white;
    min-height: 15rem; // not needed, to be removed when implemented
    box-shadow: 0 1.6rem 2.4rem 0.2rem rgba(0,0,0,.14), 0 0.6rem 3rem 0.5rem rgba(0,0,0,.12), 0 0.8rem 1rem -0.5rem rgba(0,0,0,.2);
  }
}